body
{
	margin:0;
	padding:0;
	
}
#top-panel
{
	background-color:lightgrey;
	width:99%;
	height:30px;
	padding:5px;
}
#mini
{
	float:left;
	font-weight:bold;
	font-size:120%;
	padding:5px;
	font-family: 'Lacquer', sans-serif;
}
.press
{
	float:left;
	border:2px solid grey;
	margin:0px;
	padding:4px;
	border-radius:5px;
}
#panel-content
{	
	margin:0 auto;
	width:300px;
	height:30px;
	font-family: 'Permanent Marker', cursive;
}
.initial
{
	background-color:lightblue;
}
.high
{
	background-color:grey;
}
#dabody
{
	width:100%;
	padding:0;
	/* background-color:blue; */
}
#writehtml
{
	width:50%;
	margin:0px;
	border-top:none;
	border-bottom:none;
}
#writeoutput
{
	width:49%;
	margin:0;
	border:none;
	padding:0;
	/* background-color:red; */
}
.hide
{
	display:none;
}
.hey
{
	height:93%;
	border:none;
	border-right:2px solid grey;
	resize:none;
}
#cred{
	float:right;
	position:absolute;
	left:1100px;
	top:-6px;
	font-family: 'Pacifico', cursive;

}
#des{
	float:left;
	position:absolute;
	left:125px;
	top:12px;
}
